extends ../../layouts/default.pug
include ../../mixins/product.mixin.pug
block main 
    .container.py-3
        h1.h4.mb-3.fw-bold.ps-3.border-start.border-4.border-primary.text-dark #{titleCategory}
        +mixins-product(products)